@model Poizon.Domain.ViewModel.RegisterViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}

<style>
    body {
        font-family: "Grotesk", sans-serif;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    .registration-container {
        max-width: 500px;
        margin: 100px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .submit-button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .submit-button:hover {
            background-color: #45a049;
        }

    .login-link {
        text-align: center;
        margin-top: 15px;
    }

        .login-link a {
            color: #007bff;
            text-decoration: none;
        }

            .login-link a:hover {
                text-decoration: underline;
            }
</style>

<div class="registration-container">
    <h2>Регистрация</h2>
    <form id="registrationForm" method="POST" asp-action="Register" asp-controller="Account">
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input asp-for="Email" type="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input asp-for="Password" type="password" id="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Подтвердите пароль:</label>
            <input asp-for="PasswordConfirm" type="password" id="confirmPassword" required>
        </div>
        <button type="submit" class="submit-button">Зарегистрироваться</button>
    </form>
    <div class="login-link">
        Уже есть аккаунт? <a href="#" style="padding-top: 3vh; text-decoration:none; font-family:'Grotesk';" class="login-button" >Вход</a>
    </div>
</div>

