@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Заказ оформлен</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .checkmark {
            border-radius: 50%;
            display: inline-block;
            width: 120px;
            height: 120px;
            border: 5px solid #00b300;
            animation: drawCheck 0.6s ease;
            position: relative;
        }

            .checkmark:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 25px;
                width: 30px;
                height: 60px;
                border: solid #00b300;
                border-width: 0 7px 7px 0;
                transform: translateY(-50%) rotate(45deg);
            }

        .message {
            font-size: 24px;
            font-weight: bold;
            color: #00b300;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="checkmark"></div>
        <div class="message">Заказ оформлен и с вами скоро свяжутся</div>
    </div>
    <div class="login-link">
        <a asp-controller="Main" asp-action="Index" style="padding-top: 3vh; text-decoration:none; font-family:'Grotesk';" class="login-button">На главную</a>
    </div>
</body>

</html>
